venv
__pycache__
.env
.DS_Store
node_modules
dist
.env

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

frontend/dist
frontend/node_modules
frontend/.env.production
frontend/.env.development